@import "../../../styles/vars";

.content {
  padding: $unit*3;

  max-width: $desktop-screen-content-width;
  margin: 0 auto;

  @include mobile{
    max-width: none;
  }

  .caption{
    @include Caption;
    color: $color-text-secondary;
    padding: 0 $unit;
  }

}